@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

section {
    padding-top: 80px;
    padding-bottom: 50px;
}

.hero .col img {
    width: 500px;
}

.hero .col p {
    width: 500px;
}

.hero {
    overflow: hidden;
}

.about .col img {
    width: 600px;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer {
    margin-top: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.copyright {
    margin-top: 50px;
}

.hero .col:nth-child(1) {
    --animate-delay: 0.5s;
}

@media (min-width: 1025px) and (max-width: 1199px) {
    .hero .col img {
        width: 400px;
    }
}

@media (max-width: 1024px) {
    .hero .col img {
        width: 400px;
    }

    .hero .col p {
        width: 300px;
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    #hero {
        padding-top: 50px;
    }
    .hero .col img {
        width: 300px;
    }

    .hero .col p {
        font-size: 14px;
        width: 100%;
    }

    .about .col img {
        width: 300px;
    }
}